.container {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container section {
  margin-bottom: 25px;
}

.container ul {
  margin-left: 20px;
  margin-top: 10px;
}

.container p {
  margin-top: 10px;
  line-height: 1.5;
}

footer a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: var(--color-primario);
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}

footer a:hover {
  background-color: #2c80b4;
}